# Recap: pandas Basics

Insert one-liners to solve all 10 tasks

In [1]:
import pandas as pd

### read the CSV file `gapminder_total_fertility.csv`

In [161]:
df=pd.read_csv('data/gapminder_total_fertility.csv',index_col=0)

### write the file to an Excel spreadsheet

In [162]:
df.head()

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Total fertility rate,,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,...,6.70,6.46,6.20,5.93,5.66,5.40,5.14,4.90,4.68,4.47
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,...,1.85,1.80,1.76,1.74,1.74,1.75,1.76,1.77,1.78,1.78
Algeria,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,...,2.58,2.66,2.73,2.78,2.82,2.83,2.82,2.80,2.76,2.71

In [163]:
df.to_excel('test excel.xlsx')

### read the spreadsheet again

In [164]:
df=pd.read_excel('test excel.xlsx',index_col=0)

### select all data for the year 2010

In [165]:
df['2010']

Total fertility rate
Abkhazia                  NaN
Afghanistan              5.66
Akrotiri and Dhekelia     NaN
Albania                  1.74
Algeria                  2.82
                         ...
Yugoslavia                NaN
Zambia                   5.81
Zimbabwe                 3.72
Åland                     NaN
Åland                     NaN
Name: 2010, Length: 260, dtype: float64

In [166]:
df.index

Index(['Abkhazia', 'Afghanistan', 'Akrotiri and Dhekelia', 'Albania',
       'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla',
       'Antigua and Barbuda',
       ...
       'Vietnam', 'Virgin Islands (U.S.)', 'North Yemen (former)',
       'South Yemen (former)', 'Yemen', 'Yugoslavia', 'Zambia', 'Zimbabwe',
       'Åland', 'Åland'],
      dtype='object', name='Total fertility rate', length=260)

### select the 10 most fertile countries in 2010

In [167]:
df.sort_values(by=['2010'], ascending=[False]).head(10)

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Total fertility rate,,,,,,,,,,,,,,,,,,,,,
Niger,6.83,6.83,6.83,6.83,6.83,6.83,6.83,6.83,6.83,6.83,...,7.60,7.59,7.59,7.59,7.58,7.58,7.57,7.56,7.54,7.51
Somalia,6.87,6.87,6.87,6.87,6.87,6.87,6.87,6.87,6.87,6.87,...,7.22,7.14,7.06,6.97,6.87,6.77,6.67,6.56,6.46,6.36
Mali,6.23,6.23,6.23,6.23,6.23,6.23,6.23,6.23,6.23,6.23,...,6.80,6.81,6.82,6.83,6.84,6.85,6.85,6.85,6.83,6.81
Chad,6.06,6.06,6.06,6.06,6.06,6.06,6.06,6.06,6.06,6.06,...,6.99,6.90,6.81,6.70,6.60,6.49,6.38,6.26,6.15,6.04
Burundi,6.80,6.80,6.80,6.80,6.80,6.80,6.80,6.80,6.80,6.80,...,6.65,6.57,6.48,6.39,6.30,6.21,6.12,6.03,5.94,5.85
"Congo, Dem. Rep.",5.99,5.99,5.99,5.99,5.99,5.99,5.99,5.99,5.99,5.99,...,6.64,6.55,6.45,6.35,6.25,6.15,6.04,5.93,5.83,5.72
Timor-Leste,6.52,6.52,6.52,6.52,6.52,6.52,6.52,6.52,6.52,6.52,...,6.70,6.59,6.48,6.36,6.24,6.11,5.98,5.86,5.73,5.60
Angola,6.93,6.93,6.93,6.93,6.93,6.93,6.93,6.94,6.94,6.94,...,6.60,6.52,6.43,6.33,6.22,6.10,5.98,5.86,5.75,5.65
Uganda,6.89,6.89,6.89,6.89,6.89,6.89,6.89,6.89,6.89,6.89,...,6.51,6.43,6.34,6.25,6.16,6.06,5.96,5.87,5.77,5.67
Nigeria,6.55,6.55,6.55,6.55,6.55,6.55,6.55,6.55,6.55,6.55,...,6.02,6.02,6.02,6.02,6.02,6.02,6.00,5.98,5.94,5.89

In [168]:
df['2010'].sort_values(ascending=[False]).head(10)

Total fertility rate
Niger               7.58
Somalia             6.87
Mali                6.84
Chad                6.60
Burundi             6.30
Congo, Dem. Rep.    6.25
Timor-Leste         6.24
Angola              6.22
Uganda              6.16
Nigeria             6.02
Name: 2010, dtype: float64

In [169]:
df

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Total fertility rate,,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,...,6.70,6.46,6.20,5.93,5.66,5.40,5.14,4.90,4.68,4.47
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,...,1.85,1.80,1.76,1.74,1.74,1.75,1.76,1.77,1.78,1.78
Algeria,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,...,2.58,2.66,2.73,2.78,2.82,2.83,2.82,2.80,2.76,2.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,...,5.93,5.91,5.88,5.85,5.81,5.77,5.73,5.69,5.64,5.59
Zimbabwe,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,...,3.94,3.90,3.85,3.79,3.72,3.64,3.56,3.49,3.41,3.35
Åland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Åland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### select countries below 2.0 in 2010

In [170]:
df[(df['2010'] < 2.0)]

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Total fertility rate,,,,,,,,,,,,,,,,,,,,,
Albania,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,...,1.85,1.80,1.76,1.74,1.74,1.75,1.76,1.77,1.78,1.78
Armenia,7.80,7.80,7.81,7.81,7.81,7.82,7.82,7.82,7.83,7.83,...,1.30,1.40,1.40,1.60,1.55,1.50,1.47,1.44,1.42,1.41
Aruba,5.64,5.64,5.64,5.64,5.64,5.64,5.64,5.64,5.64,5.64,...,1.75,1.74,1.73,1.71,1.70,1.69,1.68,1.67,1.67,1.66
Australia,6.50,6.48,6.46,6.44,6.42,6.40,6.38,6.36,6.34,6.32,...,1.82,1.92,1.96,1.90,1.89,1.88,1.89,1.88,1.88,1.88
Austria,5.10,5.10,5.10,5.10,5.10,5.10,5.10,5.10,5.10,5.10,...,1.41,1.38,1.41,1.39,1.44,1.44,1.46,1.47,1.48,1.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ukraine,7.50,7.50,7.50,7.50,7.50,7.50,7.50,7.50,7.50,7.50,...,1.30,1.35,1.38,1.41,1.44,1.45,1.46,1.47,1.48,1.49
United Arab Emirates,6.94,6.94,6.94,6.94,6.94,6.94,6.94,6.94,6.94,6.94,...,2.07,2.00,1.95,1.90,1.87,1.84,1.82,1.80,1.78,1.77
United Kingdom,4.97,4.60,5.30,5.61,5.65,5.55,5.49,5.45,5.40,5.24,...,1.80,1.84,1.87,1.89,1.90,1.90,1.90,1.89,1.89,1.89
United States,7.03,7.01,6.99,6.96,6.94,6.92,6.90,6.87,6.85,6.83,...,2.11,2.12,2.07,2.00,1.93,1.90,1.90,1.98,1.97,1.97
Vietnam,4.70,4.70,4.70,4.70,4.70,4.70,4.70,4.70,4.70,4.70,...,1.89,1.88,1.86,1.84,1.82,1.79,1.77,1.74,1.72,1.70

In [171]:
df[(df['2010'] < 2.0)]['2010']

Total fertility rate
Albania                 1.74
Armenia                 1.55
Aruba                   1.70
Australia               1.89
Austria                 1.44
                        ...
Ukraine                 1.44
United Arab Emirates    1.87
United Kingdom          1.90
United States           1.93
Vietnam                 1.82
Name: 2010, Length: 70, dtype: float64

### calculate the mean and standard deviation for each year

In [172]:
df.agg(['count','mean', 'std','sem'])

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
count,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,...,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,199.000000,199.000000
mean,6.084080,6.081244,6.084328,6.083383,6.083682,6.083433,6.079353,6.078159,6.070647,6.059701,...,2.999403,2.971642,2.943881,2.915771,2.884925,2.853433,2.823284,2.794179,2.775176,2.744523
std,0.777465,0.780857,0.775431,0.774806,0.774999,0.771939,0.776931,0.777962,0.791615,0.817953,...,1.591173,1.561309,1.531775,1.502406,1.475264,1.447739,1.418326,1.389848,1.362167,1.332827
sem,0.054838,0.055077,0.054695,0.054651,0.054664,0.054448,0.054801,0.054873,0.055836,0.057694,...,0.112233,0.110126,0.108043,0.105972,0.104057,0.102116,0.100041,0.098032,0.096561,0.094482

In [173]:
df.describe()

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
count,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,...,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,199.000000,199.000000
mean,6.084080,6.081244,6.084328,6.083383,6.083682,6.083433,6.079353,6.078159,6.070647,6.059701,...,2.999403,2.971642,2.943881,2.915771,2.884925,2.853433,2.823284,2.794179,2.775176,2.744523
std,0.777465,0.780857,0.775431,0.774806,0.774999,0.771939,0.776931,0.777962,0.791615,0.817953,...,1.591173,1.561309,1.531775,1.502406,1.475264,1.447739,1.418326,1.389848,1.362167,1.332827
min,4.040000,4.040000,3.910000,4.050000,3.940000,4.060000,4.070000,4.050000,4.000000,3.210000,...,0.870000,0.910000,0.940000,0.970000,0.900000,1.030000,1.060000,1.070000,1.110000,1.130000
25%,5.620000,5.620000,5.620000,5.620000,5.640000,5.620000,5.620000,5.620000,5.620000,5.620000,...,1.820000,1.830000,1.830000,1.840000,1.840000,1.820000,1.800000,1.800000,1.795000,1.785000
50%,6.150000,6.150000,6.150000,6.150000,6.150000,6.150000,6.150000,6.150000,6.130000,6.130000,...,2.450000,2.440000,2.430000,2.410000,2.380000,2.350000,2.330000,2.290000,2.260000,2.230000
75%,6.690000,6.690000,6.690000,6.690000,6.690000,6.690000,6.690000,6.690000,6.690000,6.690000,...,3.910000,3.830000,3.760000,3.740000,3.720000,3.640000,3.560000,3.490000,3.565000,3.495000
max,8.100000,8.100000,8.100000,8.100000,8.100000,8.100000,8.100000,8.100000,8.100000,8.100000,...,7.600000,7.590000,7.590000,7.590000,7.580000,7.580000,7.570000,7.560000,7.540000,7.510000

In [182]:
df.iloc[:,0]

Total fertility rate
Abkhazia                  NaN
Afghanistan              7.00
Akrotiri and Dhekelia     NaN
Albania                  4.60
Algeria                  6.99
                         ...
Yugoslavia                NaN
Zambia                   6.71
Zimbabwe                 6.75
Åland                     NaN
Åland                     NaN
Name: 1800, Length: 260, dtype: float64

In [174]:
df.index # != df.iloc[:,0]

Index(['Abkhazia', 'Afghanistan', 'Akrotiri and Dhekelia', 'Albania',
       'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla',
       'Antigua and Barbuda',
       ...
       'Vietnam', 'Virgin Islands (U.S.)', 'North Yemen (former)',
       'South Yemen (former)', 'Yemen', 'Yugoslavia', 'Zambia', 'Zimbabwe',
       'Åland', 'Åland'],
      dtype='object', name='Total fertility rate', length=260)

In [175]:
# df['C'] = df['A'].str.get(0)
# df['new_col'] = df['Total fertility rate'].str.get(0)
df['new_col'] = df.index.str.get(0)
df

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,new_col
Total fertility rate,,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
Afghanistan,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,...,6.46,6.20,5.93,5.66,5.40,5.14,4.90,4.68,4.47,A
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
Albania,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,...,1.80,1.76,1.74,1.74,1.75,1.76,1.77,1.78,1.78,A
Algeria,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,...,2.66,2.73,2.78,2.82,2.83,2.82,2.80,2.76,2.71,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
Zambia,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,...,5.91,5.88,5.85,5.81,5.77,5.73,5.69,5.64,5.59,Z
Zimbabwe,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,...,3.90,3.85,3.79,3.72,3.64,3.56,3.49,3.41,3.35,Z
Åland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Å
Åland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Å

### extract the first character as a separate column

In [180]:
df['new_col'] = df.index.str[0]
df

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,new_col
Total fertility rate,,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
Afghanistan,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,...,6.46,6.20,5.93,5.66,5.40,5.14,4.90,4.68,4.47,A
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
Albania,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,...,1.80,1.76,1.74,1.74,1.75,1.76,1.77,1.78,1.78,A
Algeria,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,6.99,...,2.66,2.73,2.78,2.82,2.83,2.82,2.80,2.76,2.71,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
Zambia,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,...,5.91,5.88,5.85,5.81,5.77,5.73,5.69,5.64,5.59,Z
Zimbabwe,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,...,3.90,3.85,3.79,3.72,3.64,3.56,3.49,3.41,3.35,Z
Åland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Å
Åland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Å

### count the number of countries for each first character

In [177]:
g = df.groupby(by='new_col')

In [178]:
g.count()

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
new_col,,,,,,,,,,,,,,,,,,,,,
A,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11
B,17,17,17,17,17,17,17,17,17,17,...,17,17,17,17,17,17,17,17,17,17
C,19,19,19,19,19,19,19,19,19,19,...,19,19,19,19,19,19,19,19,19,19
D,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
E,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
F,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
G,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,13,13
H,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
I,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
J,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
K,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
L,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
M,20,20,20,20,20,20,20,20,20,20,...,20,20,20,20,20,20,20,20,20,20
N,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11
O,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
P,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
Q,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
R,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
S,24,24,24,24,24,24,24,24,24,24,...,24,24,24,24,24,24,24,24,24,24
T,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,10,10
U,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
V,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
W,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Y,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Z,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Å,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [179]:
# or 
df.groupby('new_col').count()

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
new_col,,,,,,,,,,,,,,,,,,,,,
A,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11
B,17,17,17,17,17,17,17,17,17,17,...,17,17,17,17,17,17,17,17,17,17
C,19,19,19,19,19,19,19,19,19,19,...,19,19,19,19,19,19,19,19,19,19
D,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
E,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
F,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
G,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,13,13
H,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
I,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
J,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
K,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
L,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
M,20,20,20,20,20,20,20,20,20,20,...,20,20,20,20,20,20,20,20,20,20
N,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11
O,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
P,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
Q,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
R,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
S,24,24,24,24,24,24,24,24,24,24,...,24,24,24,24,24,24,24,24,24,24
T,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,10,10
U,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
V,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
W,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Y,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Z,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Å,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0